.ServiceCard {
  &-card-title {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 25px;
  }

  &-card-text {
    margin-bottom: 40px;
  }
}

.ChoseUs {
  &-card-title {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 25px;
  }

  &-card-text {
    margin-bottom: 40px;
  }
}
