/* Обнуление */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.container {
  width: 320px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  background-color: crimson;
  font-family: "Roboto", sanserif;
}

@media screen and (min-width: 600px) {
  .container {
    width: 600px;

    background-color: rgb(33, 20, 220);
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;

    background-color: rgb(167, 220, 20);
  }
}
