/* Обнуление */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(245, 233, 201);
  font-family: "Roboto", sanserif;
}


