.WelcomeCard{
    &-container{
        width: 100%;
        height: 177px;
        background-color: #101010;
        padding-top: 33px;
        padding-bottom: 39px;
        padding-left: 136px;
        padding-right: 136px;
    }
}