.GetDiscountBtn-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  width: 300px;
  height: 50px;
  border-radius: 36px;

  background-color: #d0202a;
  box-shadow: 1px 2px 5px rgba(201, 15, 191, 0.4);
  border: 2px solid rgba(201, 15, 191, 1);
  margin-top: 20px;
  &:hover,
  &:focus {
    color: rgb(145, 151, 168);

    box-shadow: 2px 3px 6px rgba(201, 15, 191, 0.8);
    border: 3px solid rgba(201, 15, 191, 1);
    cursor: pointer;
  }
}
