.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.logo_s {
  font-family: sans-serif;
  font-size: xx-large;
  color: rgba(201, 15, 191, 1);
  font: 2em Arial, sans-serif;
  text-shadow: black 0 0 3px;
  font-weight: 900;
  margin: 0;
}
.logo {
  font-size: x-large;
  color: black;
  font-weight: bold;
  margin: 0;
}

.btn {
  padding: 8px;
  padding-left: 3px;
  padding-right: 5px;
  background-color: transparent;
  width: 40px;
  height: 40px;
}
.svgMenu {
  fill: black;
}
.btn:hover,
.btn:focus {
  background-color: rgba(208, 32, 42, 1);
}
.svgMenu:hover,
.svgMenu:focus {
  fill: rgba(255, 255, 255, 1);
}
