.CubeSwiper {
  &-field {
    text-align: center;
    background-color: rgb(245, 233, 201);
    width: auto;
    padding-top: 77px;
    padding-bottom: 10px;
  }
  &-title {
    text-transform: uppercase;
    margin-bottom: 32px;
  }
}


